GLOBAL_PREFIX=
PORT=
SLOT_PORT=
USER_ACCESS_PORT=
MEDIA_PORT=
AUTHORIZER_PORT=
MAIL_PORT=


MONGODB_URI=
MONGODB_POOL_SIZE=
MONGODB_SOCKET_TIMEOUT_MS=
MONGODB_CONNECTION_TIMEOUT_MS=

SLOT_SERVICE_DB_NAME=
USER_ACCESS_SERVICE_DB_NAME=

#SLOT SERVICE
SLOT_SERVICE_HOST=
TCP_SLOT_SERVICE_PORT=


#USER-ACCESS SERVICE
USER_ACCESS_SERVICE_HOST=
TCP_USER_ACCESS_SERVICE_PORT=
GRPC_USER_ACCESS_SERVICE_PORT=

#MEDIA SERVICE
MEDIA_SERVICE_HOST=
TCP_MEDIA_SERVICE_PORT=


#AUTHORIZER SERVICE 
AUTHORIZER_SERVICE_HOST=
TCP_AUTHORIZER_SERVICE_PORT=
GRPC_AUTHORIZE_SERVICE_PORT=

#CLOUDINARY
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

#KEYCLOAK
KEYCLOAK_HOST=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=



#REDIS
REDIS_HOST=
REDIS_PORT=
REDIS_TTL=


MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=  
MAIL_SENDER_NAME=
MAIL_SENDER_EMAIL=